<b>Share link :</b>
<%= link_to 'twitter', "http://twitter.com/share?text=Test share video&url=http://localhost:3000#{@video.file_url}&hashtags=share_videos", target: '_blank',class: "btn btn-sm btn-primary" %>

<a href="https://plus.google.com/share?url=http://localhost:3000<%=@video.file_url %>" class="btn btn-danger btn-sm" target="_blank">Google</a>